// out: ../css/dacierno.min.css, compress: true, sourceMap: false

@orange: rgb(246, 91, 11);

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: @orange;
    background-image: url('https://i.imgur.com/7edvN0R.jpg');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
}

#visualizer_halo {
    position: fixed;
    top: 120px;
    left: 0px;
}

#visualizer_lines {
    margin-top: 403px;
    margin-left: 100px;
}

nav {
    background-color: black;
}