// out: ../css/dacierno.min.css, compress: true, sourceMap: false

@trans-light: rgba(0, 0, 0, 0.3);
@trans-dark: rgba(0, 0, 0, 0.8);
@white: #DDD;
@darkgray: #222;

@orange: #f65b0b;

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: @orange;
    background-image: url('https://i.imgur.com/7edvN0R.jpg');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: ~"calc(100% - 60px)";
    text-align: center;
    color: @white;
    background-color: @trans-dark;

    p {
        display: inline-block;
        padding: 0 20px;
        margin: 0;
    }
}

a {
    color: @white;
    transition: color 300ms;
    text-decoration: none;

    &:hover, &:active, &:focus {
        color: @orange;
    }
}

#visualizer_halo {
    position: fixed;
    top: 120px;
    left: 0px;
}

#visualizer_lines {
    margin-top: 403px;
    margin-left: 100px;
}

nav {
    background-color: black;

    .head {
        .toggle {
            background-color: black;
            border-left: 5px solid @darkgray;

            &:hover, &:active, &:focus {
                border-top: 2px solid @orange;
                border-bottom: 2px solid @orange;
                border-left-color: @orange;            
            }

            p {
                margin: 0;
            }
        }
    }

    ul {
        li {
            a {
                i {
                    border-left: 5px solid @darkgray;
                }
            }
        }
    }

    &:hover, &:active, &:focus, &.show {
        .head {
            .toggle {
                span {
                    left: 7px;
                    border-top-right-radius: unset;
                    border-bottom-left-radius: unset;
                    transform: rotate(90deg);
                    
                    &::before {
                        left: 7px;
                        top: -17px;
                        height: 13px;
                        background-color: rgba(0, 0, 0, 0);
                        border-bottom: solid 3px @white;
                        border-right: solid 3px @white;
                        border-bottom-right-radius: 50% 100%;
                        border-bottom-left-radius: unset;
                        border-top-right-radius: unset;
                        border-top-left-radius: unset;
                        transform: rotate(-90deg);
                    }
                    &::after {
                        left: -6px;
                        bottom: 7px;
                        height: 13px;
                        background-color: rgba(0, 0, 0, 0);
                        border-bottom: solid 3px @white;
                        border-left: solid 3px white;
                        border-bottom-right-radius: unset;
                        border-bottom-left-radius: 50% 100%;
                        border-top-right-radius: unset;
                        border-top-left-radius: unset;
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }

    .player {
        .thumb() {
            background: @orange;
        }
        input[type=range] {
            &::-webkit-slider-thumb {
                .thumb();
            }
            &::-moz-range-thumb {
                .thumb();
            }
            &::-ms-thumb {
                .thumb();
            }
        }
    }
}

.album {
    @height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 10% auto;

    .art {
        width: 100%;
        height: ~"calc(100vw - 60px)";

        img {
            width: 100%;
            height: 100%;
        }
    }
    .playlist {
        width: 100%;
        border-collapse: collapse;
        color: @white;
        background-color: @trans-dark;
        text-align: center;
    
        .offset() {
            background-color: @trans-light;
        }
    
        thead {
            .offset();
        }
    
        tr {
            &:nth-child(2n) {
                .offset();
            }

            th, td {
                padding: 5px 10px;
                white-space: nowrap;
        
                &:first-child {
                    padding-left: 20px;
                }
        
                &:last-child {
                    padding-right: 20px;
                }

                &:nth-child(2) {
                    width: 300px;
                    text-align: left;
                }

                &:nth-child(1), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
                    display: none;
                }
            }   
            
            &:hover, &:active, &:focus {
                filter: brightness(0.8);
            }
        }
    }
}

.about-grid {
    .entry {
        width: 100%;
        max-width: 600px;
        margin: 0;
        padding: 1% 5%;
        color: @white;
        background-color: @trans-dark;

        h1, h2 {
            margin: 0;
        }

        h3 {
            margin-bottom: 0;
        }
    }
}

.videos-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(0px, 600px));
	grid-auto-rows: 340px;
	grid-auto-flow: row dense;
    justify-content: center;
    padding: 20px;
    
    iframe {
        width: 100%;
        max-width: 600px;
        height: 340px;
    }
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('https://i.imgur.com/7edvN0R.jpg');
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    z-index: -2;
    pointer-events: none;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .album {
        .playlist {
            tr {
                th, td {
                    &:nth-child(4), &:nth-child(5) {
                        display: table-cell;
                    }
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  
    .album {
        max-width: 768px;
        .art {
            max-height: 768px;
        }
        .playlist {
            tr {
                th, td {
                    &:nth-child(1), &:nth-child(3) {
                        display: table-cell;
                    }
                }
            }
        }
    }

    .about-grid {
        .entry {
            width: 40%;
            min-width: 300px;
            margin: 5%;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  
    .album {
        @height: 500px;
        flex-direction: row;
        height: ~"calc(100vh - 20px)";
        max-width: unset;
        min-height: 700px;
        margin: auto;

        .art {
            width: @height;
            height: @height;

            img {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }

        .playlist {
            width: unset;
            height: @height;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

            thead {
                border-top-right-radius: 10px;
            }

            tbody {
                tr:last-child {
                    border-bottom-right-radius: 10px;
                }
            }
        }
    }
}