<div class="container">
    <div class="about-grid">
        <img src="https://i.imgur.com/iPHczA1.jpg" />
        <h1>Travis C. Butler</h1>
        <h2>D'Acierno</h2>
        <a class="btn btn-default" href="~/Docs/Travis_Butler_Resume.pdf" target="_blank">View Resume</a>
        <a class="btn btn-default" href="~/Docs/Travis_Butler_Resume.pdf" download="Travis_Butler_Resume.pdf">Download Resumé</a>
        <h3>Bio</h3>
        <hr />
        <p>Travis Butler is an audio engineer, producer, and composer from Pittsburgh, Pennsylvania. He is a graduate from Duquesne University with a Bachelor degree of Music in Sound Recording Technology.</p>
        <p>Travis began his musical endeavours with drum lessons in 5th grade. In high school, he began experimenting with digital audio workstations and took a passion in recording music. At Duquesne, he studied audio for 4 years from a diverse set of qualified professors.</p>
        <p>Travis is excited to begin working with anyone interested in collaborating. He offers a wide variety of services including recording, mixing, and post-production, and is now also offering beat purchases. Contact Travis now for any audio services you may be interested in!</p>
    </div>
</div>