<div class="container">
    <div class="beats-grid">
        <table class="playlist">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Length</th>
                    <th>Controls</th>
                </tr>
            </thead>
            <tbody>
                <tr data-src="/beats/beat-1.mp3">
                    <td>1</td>
                    <td>Beat 1</td>
                    <td>4:15</td>
                    <td><i class="fas fa-play"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>