<div class="container">
    <div class="beats-grid">
        <div class="album">
            <div class="art">
                <img src="https://i.imgur.com/JgjecRt.jpg" data-background="https://i.imgur.com/y28d7eq.jpg" data-position="50% 50%"/>
            </div>
            <table class="playlist">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Length</th>
                        <th>Album</th>
                        <th>Artist</th>
                        <th>Purchase</th>
                        <th>Controls</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-src="/beats/beat-1.mp3">
                        <td>1</td>
                        <td>Beat 1</td>
                        <td>4:15</td>
                        <td>Beats</td>
                        <td>D'Acierno</td>
                        <td><i class="fas fa-dollar-sign"></i></td>
                        <td><i class="fas fa-play" onclick="dacierno.player.play(this);"></i></td>
                    </tr>
                </tbody>
            </table>        
        </div>
    </div>
</div>