<div class="cato">
    <table class="playlist">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Length</th>
                <th>Controls</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Petrichor</td>
                <td>4:15</td>
                <td><i class="fas fa-play"></i></td>
            </tr>
            <tr>
                <td>2</td>
                <td>You and I (Say Yes)</td>
                <td>5:34</td>
                <td><i class="fas fa-play"></i></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Glass Case of Emotion</td>
                <td>3:34</td>
                <td><i class="fas fa-play"></i></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Shout All Night</td>
                <td>3:53</td>
                <td><i class="fas fa-play"></i></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Audio Medic</td>
                <td>4:18</td>
                <td><i class="fas fa-play"></i></td>
            </tr>
            <tr>
                <td>6</td>
                <td>Sore is the Storm</td>
                <td>4:16</td>
                <td><i class="fas fa-play"></i></td>
            </tr>
            <tr>
                <td>7</td>
                <td>Aspire</td>
                <td>3:26</td>
                <td><i class="fas fa-play"></i></td>
            </tr>
            <tr>
                <td>8</td>
                <td>The Puppeteer</td>
                <td>5:52</td>
                <td><i class="fas fa-play"></i></td>
            </tr>
            <tr>
                <td>9</td>
                <td>We Obey</td>
                <td>3:54</td>
                <td><i class="fas fa-play"></i></td>
            </tr>
        </tbody>
    </table>
</div>