<div class="container">
    <div class="music-grid">
        <div class="album">
            <div class="art">
                <img src="https://i.imgur.com/rqTpzSW.jpg" data-position="50% 50%" />
            </div>
            <table class="playlist">
                <thead>
                    <th>#</th>
                    <th>Title</th>
                    <th>Length</th>
                    <th>Album</th>
                    <th>Artist</th>
                    <th>Stream</th>
                    <th>Purchase</th>
                    <th>Controls</th>
                </thead>
                <tbody>
                    <tr data-src="/mp3/singles/tellurians.mp3">
                        <td>1</td>
                        <td>Tellurians</td>
                        <td>5:01</td>
                        <td>Singles</td>
                        <td>D'Acierno</td>
                        <td><i class="fab fa-spotify"></i></td>
                        <td><i class="fab fa-itunes"></i></td>
                        <td><i class="fas fa-play"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="album">
            <div class="art">
                <img src="https://i.imgur.com/DTROaKF.png" data-background="https://i.imgur.com/7edvN0R.jpg" />
            </div>
            <table class="playlist">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Length</th>
                        <th>Album</th>
                        <th>Artist</th>
                        <th>Stream</th>
                        <th>Purchase</th>
                        <th>Controls</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-src="/mp3/cato/petrichor.mp3">
                        <td>1</td>
                        <td>Petrichor</td>
                        <td>4:15</td>
                        <td>Cato Singles</td>
                        <td>D'Acierno</td>
                        <td><i class="fab fa-spotify"></i></td>
                        <td><i class="fab fa-itunes"></i></td>
                        <td><i class="fas fa-play"></i></td>
                    </tr>
                    <tr data-src="/mp3/cato/you-and-i.mp3">
                        <td>2</td>
                        <td>You and I (Say Yes)</td>
                        <td>5:34</td>
                        <td>Cato Singles</td>
                        <td>D'Acierno</td>
                        <td><i class="fab fa-spotify"></i></td>
                        <td><i class="fab fa-itunes"></i></td>
                        <td><i class="fas fa-play"></i></td>
                    </tr>
                    <tr data-src="/mp3/cato/audio-medic.mp3">
                        <td>3</td>
                        <td>Audio Medic</td>
                        <td>4:18</td>
                        <td>Cato Singles</td>
                        <td>D'Acierno</td>
                        <td><i class="fab fa-spotify"></i></td>
                        <td><i class="fab fa-itunes"></i></td>
                        <td><i class="fas fa-play"></i></td>
                    </tr>
                    <tr data-src="/mp3/cato/sore-is-the-storm.mp3">
                        <td>4</td>
                        <td>Sore is the Storm</td>
                        <td>4:16</td>
                        <td>Cato Singles</td>
                        <td>D'Acierno</td>
                        <td><i class="fab fa-spotify"></i></td>
                        <td><i class="fab fa-itunes"></i></td>
                        <td><i class="fas fa-play"></i></td>
                    </tr>
                    <tr data-src="/mp3/cato/glass-case-of-emotion.mp3">
                        <td>5</td>
                        <td>Glass Case of Emotion</td>
                        <td>3:34</td>
                        <td>Cato Singles</td>
                        <td>D'Acierno</td>
                        <td><i class="fab fa-spotify"></i></td>
                        <td><i class="fab fa-itunes"></i></td>
                        <td><i class="fas fa-play"></i></td>
                    </tr>
                    <tr data-src="/mp3/cato/shout-all-night.mp3">
                        <td>6</td>
                        <td>Shout All Night</td>
                        <td>3:53</td>
                        <td>Cato Singles</td>
                        <td>D'Acierno</td>
                        <td><i class="fab fa-spotify"></i></td>
                        <td><i class="fab fa-itunes"></i></td>
                        <td><i class="fas fa-play"></i></td>
                    </tr>
                    <tr data-src="/mp3/cato/aspire.mp3">
                        <td>7</td>
                        <td>Aspire</td>
                        <td>3:26</td>
                        <td>Cato Singles</td>
                        <td>D'Acierno</td>
                        <td><i class="fab fa-spotify"></i></td>
                        <td><i class="fab fa-itunes"></i></td>
                        <td><i class="fas fa-play"></i></td>
                    </tr>
                    <tr data-src="/mp3/cato/we-obey.mp3">
                        <td>8</td>
                        <td>We Obey</td>
                        <td>3:54</td>
                        <td>Cato Singles</td>
                        <td>D'Acierno</td>
                        <td><i class="fab fa-spotify"></i></td>
                        <td><i class="fab fa-itunes"></i></td>
                        <td><i class="fas fa-play"></i></td>
                    </tr>
                    <tr data-src="/mp3/cato/the-puppeteer.mp3">
                        <td>9</td>
                        <td>The Puppeteer</td>
                        <td>5:52</td>
                        <td>Cato Singles</td>
                        <td>D'Acierno</td>
                        <td><i class="fab fa-spotify"></i></td>
                        <td><i class="fab fa-itunes"></i></td>
                        <td><i class="fas fa-play"></i></td>
                    </tr>
                </tbody>
            </table>        
        </div>
    </div>
</div>