<div class="container">
    <div class="music-grid">
        <div class="album">
            <div class="art">
                <img src="https://imgur.com/qFaGLvv.jpg" data-position="50% 50%" />
            </div>
            <table class="playlist">
                <thead>
                    <th>#</th>
                    <th>Title</th>
                    <th>Length</th>
                    <th>Album</th>
                    <th>Artist</th>
                    <th>Listen</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Tellurians</td>
                        <td>5:01</td>
                        <td>Singles</td>
                        <td>D'Acierno</td>
                        <td><a href="https://song.link/us/i/1427708987" target="_blank"><i class="fas fa-music"></i></a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Mannequins</td>
                        <td>2:50</td>
                        <td>Remixes</td>
                        <td>D'Acierno</td>
                        <td><a href="https://song.link/us/i/1397073071" target="_blank"><i class="fas fa-music"></i></a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>I Know</td>
                        <td>2:50</td>
                        <td>Remixes</td>
                        <td>D'Acierno</td>
                        <td><a href="https://song.link/us/i/1400055924" target="_blank"><i class="fas fa-music"></i></a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>So Fine</td>
                        <td>2:50</td>
                        <td>Remixes</td>
                        <td>D'Acierno</td>
                        <td><a href="https://song.link/us/i/1457437623" target="_blank"><i class="fas fa-music"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="album">
            <div class="art">
                <img src="https://i.imgur.com/DTROaKF.png" data-background="https://i.imgur.com/7edvN0R.jpg" />
            </div>
            <table class="playlist">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Length</th>
                        <th>Album</th>
                        <th>Artist</th>
                        <th>Listen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Petrichor</td>
                        <td>4:15</td>
                        <td>Cato Singles</td>
                        <td>D'Acierno</td>
                        <td><a href="https://song.link/us/i/1262922399" target="_blank"><i class="fas fa-music"></i></a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>You and I (Say Yes)</td>
                        <td>5:34</td>
                        <td>Cato Singles</td>
                        <td>D'Acierno</td>
                        <td><a href="https://song.link/us/i/1262922493" target="_blank"><i class="fas fa-music"></i></a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Audio Medic</td>
                        <td>4:18</td>
                        <td>Cato Singles</td>
                        <td>D'Acierno</td>
                        <td><a href="https://song.link/us/i/1262922497" target="_blank"><i class="fas fa-music"></i></a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Sore is the Storm</td>
                        <td>4:16</td>
                        <td>Cato Singles</td>
                        <td>D'Acierno</td>
                        <td><a href="https://song.link/us/i/1262922498" target="_blank"><i class="fas fa-music"></i></a></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Glass Case of Emotion</td>
                        <td>3:34</td>
                        <td>Cato Singles</td>
                        <td>D'Acierno</td>
                        <td><a href="https://song.link/us/i/1262922505" target="_blank"><i class="fas fa-music"></i></a></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Shout All Night</td>
                        <td>3:53</td>
                        <td>Cato Singles</td>
                        <td>D'Acierno</td>
                        <td><a href="https://song.link/us/i/1262922506" target="_blank"><i class="fas fa-music"></i></a></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Aspire</td>
                        <td>3:26</td>
                        <td>Cato Singles</td>
                        <td>D'Acierno</td>
                        <td><a href="https://song.link/us/i/1262922510" target="_blank"><i class="fas fa-music"></i></a></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>We Obey</td>
                        <td>3:54</td>
                        <td>Cato Singles</td>
                        <td>D'Acierno</td>
                        <td><a href="https://song.link/us/i/1262922511" target="_blank"><i class="fas fa-music"></i></a></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>The Puppeteer</td>
                        <td>5:52</td>
                        <td>Cato Singles</td>
                        <td>D'Acierno</td>
                        <td><a href="https://song.link/us/i/1262922512" target="_blank"><i class="fas fa-music"></i></a></td>
                    </tr>
                </tbody>
            </table>        
        </div>
    </div>
</div>