<div class="container">
    <div class="studio-grid">
        <div class="album">
            <div class="art">
                <img src="https://i.imgur.com/5bSOQiz.jpg" data-position="100% 0%" />
            </div>
            <table class="playlist">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Length</th>
                        <th>Album</th>
                        <th>Artist</th>
                        <th>Song Link</th>
                        <th>Controls</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-src="https://www.brahctopus.com/mp3/mothership/lucid.mp3">
                        <td>1</td>
                        <td>Lucid</td>
                        <td>7:40</td>
                        <td>Mothership</td>
                        <td>Brahctopus</td>
                        <td><a href="https://song.link/album/i/1450453947" target="_blank"><i class="fas fa-music"></i></a></td>
                        <td><i class="fas fa-play"></i></td>
                    </tr>
                    <tr data-src="https://www.brahctopus.com/mp3/mothership/gypsy-woman.mp3">
                        <td>2</td>
                        <td>Gypsy Woman</td>
                        <td>8:36</td>
                        <td>Mothership</td>
                        <td>Brahctopus</td>
                        <td><a href="https://song.link/album/i/1450453947" target="_blank"><i class="fas fa-music"></i></a></td>
                        <td><i class="fas fa-play"></i></td>
                    </tr>
                    <tr data-src="https://www.brahctopus.com/mp3/mothership/dont-be-late.mp3">
                        <td>3</td>
                        <td>Don't Be Late</td>
                        <td>4:37</td>
                        <td>Mothership</td>
                        <td>Brahctopus</td>
                        <td><a href="https://song.link/album/i/1450453947" target="_blank"><i class="fas fa-music"></i></a></td>
                        <td><i class="fas fa-play"></i></td>
                    </tr>
                    <tr data-src="https://www.brahctopus.com/mp3/mothership/the-mothership.mp3">
                        <td>4</td>
                        <td>The Mothership</td>
                        <td>6:22</td>
                        <td>Mothership</td>
                        <td>Brahctopus</td>
                        <td><a href="https://song.link/album/i/1450453947" target="_blank"><i class="fas fa-music"></i></a></td>
                        <td><i class="fas fa-play"></i></td>
                    </tr>
                    <tr data-src="https://www.brahctopus.com/mp3/mothership/high-society.mp3">
                        <td>5</td>
                        <td>High Society</td>
                        <td>4:27</td>
                        <td>Mothership</td>
                        <td>Brahctopus</td>
                        <td><a href="https://song.link/album/i/1450453947" target="_blank"><i class="fas fa-music"></i></a></td>
                        <td><i class="fas fa-play"></i></td>
                    </tr>
                    <tr data-src="https://www.brahctopus.com/mp3/mothership/just-believe.mp3">
                        <td>6</td>
                        <td>Just Believe</td>
                        <td>4:01</td>
                        <td>Mothership</td>
                        <td>Brahctopus</td>
                        <td><a href="https://song.link/album/i/1450453947" target="_blank"><i class="fas fa-music"></i></a></td>
                        <td><i class="fas fa-play"></i></td>
                    </tr>
                    <tr data-src="https://www.brahctopus.com/mp3/mothership/eternity.mp3">
                        <td>7</td>
                        <td>Eternity</td>
                        <td>4:56</td>
                        <td>Mothership</td>
                        <td>Brahctopus</td>
                        <td><a href="https://song.link/album/i/1450453947" target="_blank"><i class="fas fa-music"></i></a></td>
                        <td><i class="fas fa-play"></i></td>
                    </tr>
                    <tr data-src="https://www.brahctopus.com/mp3/mothership/subconscious-traveling.mp3">
                        <td>8</td>
                        <td>Subconscious Traveling</td>
                        <td>8:31</td>
                        <td>Mothership</td>
                        <td>Brahctopus</td>
                        <td><a href="https://song.link/album/i/1450453947" target="_blank"><i class="fas fa-music"></i></a></td>
                        <td><i class="fas fa-play"></i></td>
                    </tr>
                </tbody>
            </table>            
        </div>
        <div class="album">
            <div class="art">
                <img src="https://i.imgur.com/qSUGbic.jpg" data-position="50% 50%" />
            </div>
            <table class="playlist">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Length</th>
                        <th>Album</th>
                        <th>Artist</th>
                        <th>Controls</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-src="/mp3/studio/bull-ride.mp3">
                        <td>1</td>
                        <td>Bull Ride</td>
                        <td>2:50</td>
                        <td>Covers</td>
                        <td>Magic City Hippies</td>
                        <td><i class="fas fa-play"></i></td>
                    </tr>
                    <tr data-src="/mp3/studio/redone.mp3">
                        <td>2</td>
                        <td>Redone</td>
                        <td>4:40</td>
                        <td>Covers</td>
                        <td>Modern Baseball</td>
                        <td><i class="fas fa-play"></i></td>
                    </tr>
                    <tr data-src="/mp3/studio/take-the-a-train.mp3">
                        <td>3</td>
                        <td>Take the A Train</td>
                        <td>5:54</td>
                        <td>Covers</td>
                        <td>Duke Ellington</td>
                        <td><i class="fas fa-play"></i></td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>
</div>